{% extends "layouts/base.html" %}
{% block content %}

<div class="page-center">

    <div class="profile-card">

        <h2>Change Password</h2>

        <form method="POST">

            <label>Old Password</label>
            <input type="password" name="old_password" required>

            <label>New Password</label>
            <input type="password" name="new_password" required>

            <button type="submit">
                Update Password
            </button>

        </form>

    </div>

</div>

{% endblock %}